<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap" rel="stylesheet">
		<title>Dijital Portfolio Обзор проекта</title>
	</head>
	<body>
        <header class="project-header">
			<a class="logo" href="{{ url_for('main_page_portfolio') }}">myArrange</a>
            <a class="home" href="{{ url_for('profile', unique_user_id=user.unique_id) }}">
                <img src="{{ url_for('static', filename='static_images/home.svg') }}" width="57" height="46" alt="Домой">
            </a>
        </header>
        <main class="project-main">
            <form class="container" action="" method="post">
                <div>
                    <a class="back" href="{{ url_for('profile', unique_user_id=user.unique_id) }}">Назад</a>
                    {{ form.hidden_tag() }}
                    {% if current_user.is_authenticated and current_user == user %}
                        <h1>{{ form.name(placeholder=project.name) }}</h1>
                        <h2>Тип проекта</h2>
                        {{ form.sphere(class="project-type", placeholder=project.sphere) }}
                        <h2>Описание проекта</h2>
                        {{ form.about(class="description", placeholder=project.about) }}
                        <h2>Иллюстрации</h2>
                        {{ form.file() }}
                        <img class="images" src="{{ url_for('static', filename='static_images/project-illustration.jpg') }}" width="147" height="109" alt="Иллюстрация проекта">
                        <h2>Файлы проекта</h2>
                        {{ form.file() }}
                        {{ form.submit(class="add") }}
                    {% else %}
                        <h1>{{ project.name }}</h1>
                        <h2>Тип проекта</h2>
                        <p class="project-type">{{ project.sphere }}</p>
                        <h2>Описание проекта</h2>
                        <p class="description">{{ project.about }}</p>
                        <h2>Иллюстрации</h2>
                        <img class="images" src="{{ url_for('static', filename='static_images/project-illustration.jpg') }}" width="147" height="109" alt="Иллюстрация проекта">
                        <h2>Файлы проекта</h2>
                    {% endif %}
                    <ul class="files-list">
                        <li class="files-list-item">
                            <p>Название</p>
                            <p class="date">Дата</p>
                            <button>Удалить</button>
                        </li>
                        <li class="files-list-item">
                            <p>Название</p>
                            <p class="date">Дата</p>
                            <button>Удалить</button>
                        </li>
                        <li class="files-list-item">
                            <p>Название</p>
                            <p class="date">Дата</p>
                            <button>Удалить</button>
                        </li>
                    </ul>
                </div>
                <div>
                    <button class="edit">Редактировать</button>
                </div> 
            </form>
        </main>
        <footer class="project-footer"></footer>
    </body>
</html>